<!DOCTYPE html>
<html lang="en" ng-app="poll">
<head>
    <meta charset="UTF-8">
    <title>Long Poll</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="poll.js"></script>
</head>
<body ng-controller="main">
Counter is {{counter}}
<br/>
Counter2 is {{counter2}}
</body>
</html>